body {
    font-family: Arial, sans-serif;
}
button {
	position:relative;
	bottom: 0px;
	right: 0px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    user-select: none;
	height:160px;
	width:600px;
}
#clickthrough-button {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	height: 600px;
	width: 160px;
}
#swiffycontainer {
	position:absolute; 
	z-index: 1; 
	top:0;
	left: 0; 
}
.label {
    color: #0D2A4D;
    position: absolute;
    margin-left: 10px;
    top: 35px;
}
swiffy ¨{
	position:absolute;
	bottom: 0px;
	right: 0px;
    border: none;
	width:160px;
	height:600px;
}
body {
    margin: 0px;
}
#ad {
    display: block;
    border: rgb(145, 153, 153) 1px solid;
    overflow: hidden;
    width: 158px;
    height: 598px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.#buttons {
	position: static;
	bottom: 0px;
	right: 0px;
	width: 160px;
	height: 600px;
	background-color: rgba(o,o,o,o,o);
}
.label {
    font-size: 14px;
    top: 65px;
}
