/*
 * General CSS
 */
body,
html {
  background: #fcfffd; }

.ad-container {
  margin: auto;
  display: table; }

iframe.ad.content:empty {
  display: none; }

.breadcumb {
  padding: 0; }
  .breadcumb ul {
    margin: 10px 0;
    list-style: none; }
    .breadcumb ul li {
      display: inline; }
      .breadcumb ul li:after {
        display: inline;
        content: "\f105";
        font-family: "FontAwesome";
        position: relative;
        padding: 0 10px;
        color: #333; }
      .breadcumb ul li:last-child:after {
        content: "";
        padding: 0; }

.loading {
  display: block;
  margin: 15px auto;
  text-align: center; }

#i-banner-container {
  margin: auto;
  display: block;
  position: relative; }
  #i-banner-container .i-overlayer {
    position: absolute;
    z-index: 100;
    cursor: pointer;
    top: 0;
    left: 0; }

.beta.warning {
  background: #333;
  padding: 5px 10px;
  color: #fcfffd;
  font-size: 10px;
  text-align: right; }

header {
  background-image: url("../images/parallax/angel-de-la-independencia.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-color: #d3d3d3;
  background-blend-mode: multiply;
  color: #fcfffd;
  padding: 0;
  height: calc(100vh - 60px); }
  header .container {
    height: 100%; }
    header .container .row {
      height: 100%; }
      header .container .row .col-md-12 {
        height: 100%; }
        header .container .row .col-md-12 .section-header {
          text-align: center;
          position: absolute;
          right: 0;
          margin: 0;
          line-height: 1;
          bottom: 0; }

.anchor {
  margin: 0;
  display: block;
  background: #222;
  color: #fcfffd;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  line-height: 1; }
  .anchor:hover, .anchor:active, .anchor:focus {
    background: #333;
    color: #fcfffd;
    text-decoration: none; }
  .anchor.sitemap {
    background: #ff5c5c; }
    .anchor.sitemap .fa-stack .fa-chevron-down {
      color: #ff5c5c; }
  .anchor.objetivos {
    background: #5271ff; }
    .anchor.objetivos .fa-stack .fa-chevron-down {
      color: #5271ff; }
  .anchor.parallax {
    position: absolute;
    bottom: 0;
    background: transparent;
    z-index: 3;
    width: 100%; }
  .anchor .fa-stack {
    overflow: hidden; }
    .anchor .fa-stack .fa-chevron-down {
      color: #333; }

section {
  margin: 0;
  padding: 10vh 0;
  position: relative;
  min-height: calc(100vh); }
  section.casas {
    padding: 20vh 0;
    min-height: auto;
    background: url("../images/parallax/casas-de-colores.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    background-color: #333;
    background-blend-mode: color-dodge; }
  section.tec {
    padding: 20vh 0;
    min-height: auto;
    background: url("../images/parallax/tec-de-monterrey.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    background-color: #fcfffd;
    background-blend-mode: hard-light; }
  section .section-subheader {
    position: relative;
    height: 40px;
    color: #333;
    margin: 0 0 40px 0; }
    section .section-subheader span {
      background: #fcfffd;
      width: auto;
      padding: 0;
      margin: 0;
      position: relative;
      z-index: 1; }
    section .section-subheader:before {
      display: table;
      content: "";
      height: 4px;
      width: 100%;
      position: absolute;
      bottom: -10px;
      color: #ff5c5c;
      background: #ff5c5c; }
    section .section-subheader.objetivos:before {
      color: #5271ff;
      background: #5271ff; }
  section p {
    line-height: 1.5;
    text-align: left;
    font-size: 1.5em;
    color: #333; }
  section a.btn {
    background: #333;
    color: #fff;
    -webkit-transition: .25s all ease;
    transition: .25s all ease;
    display: table;
    margin: auto; }
    section a.btn:hover, section a.btn:active, section a.btn:focus {
      background: #ff5c5c;
      color: #fff; }

table {
  text-align: left; }

.cert-home {
  display: inline-block;
  margin: 5px; }

footer {
  background: #5d737e;
  padding: 40px 0; }
  footer ul {
    padding: 0;
    list-style: none;
    display: table;
    margin: auto; }
    footer ul li {
      margin: 0 15px 0 0;
      display: inline-block; }
      footer ul li a {
        color: #fcfffd;
        text-decoration: none; }
        footer ul li a:hover, footer ul li a:active, footer ul li a:focus {
          color: #daffef;
          text-decoration: none; }

/*
 * Script Banner Test
 */
#display-area,
#display-area img {
  text-align: center;
  display: block;
  margin: 20px auto; }

/*
 * Ads section
 */
#ads h2 {
  text-align: center; }
#ads img {
  display: block;
  margin: auto; }

#ads-display #banners {
  margin: 0;
  padding: 10px 0;
  list-style: none;
  font-weight: bold;
  text-transform: uppercase; }
  #ads-display #banners ul {
    font-weight: normal;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px; }
  #ads-display #banners .banner {
    margin: 40px auto 0; }
    #ads-display #banners .banner .img-container img {
      max-height: 180px;
      margin: auto; }
    #ads-display #banners .banner .box-banner-parallax h6 {
      text-align: center; }

#banner .icon-responsive {
  margin: auto;
  text-align: center; }
#banner .iframe-container {
  overflow: visible;
  display: table;
  margin: auto; }
  #banner .iframe-container .iframe-banner {
    position: relative;
    z-index: 9;
    top: 0;
    left: 0;
    margin: 0 auto 10px;
    display: block; }
#banner .s120x600 {
  width: 120px;
  height: 600px; }
  #banner .s120x600 iframe {
    width: 120px;
    height: 600px; }
#banner .s160x600 {
  width: 160px;
  height: 600px; }
  #banner .s160x600 iframe {
    width: 160px;
    height: 600px; }
#banner .s300x600 {
  width: 300px;
  height: 600px; }
  #banner .s300x600 iframe {
    width: 300px;
    height: 600px; }
#banner .s300x250 {
  width: 300px;
  height: 250px; }
  #banner .s300x250 iframe {
    width: 300px;
    height: 250px; }
#banner .s468x60 {
  width: 468px;
  height: 60px; }
  #banner .s468x60 iframe {
    width: 468px;
    height: 60px; }
#banner .s728x90 {
  width: 728px;
  height: 90px; }
  #banner .s728x90 iframe {
    width: 728px;
    height: 90px; }
#banner .s300x50 {
  width: 300px;
  height: 50px; }
  #banner .s300x50 iframe {
    width: 300px;
    height: 50px; }
#banner .s320x50 {
  width: 320px;
  height: 50px; }
  #banner .s320x50 iframe {
    width: 320px;
    height: 50px; }
#banner .s250x250 {
  width: 250px;
  height: 250px; }
  #banner .s250x250 iframe {
    width: 250px;
    height: 250px; }
#banner .s200x200 {
  width: 200px;
  height: 200px; }
  #banner .s200x200 iframe {
    width: 200px;
    height: 200px; }
#banner .s336x280 {
  width: 336px;
  height: 280px; }
  #banner .s336x280 iframe {
    width: 336px;
    height: 280px; }
#banner .s180x150 {
  width: 180px;
  height: 150px; }
  #banner .s180x150 iframe {
    width: 180px;
    height: 150px; }
#banner .s320x100 {
  width: 320px;
  height: 100px; }
  #banner .s320x100 iframe {
    width: 320px;
    height: 100px; }
#banner .s300x100 {
  width: 300px;
  height: 100px; }
  #banner .s300x100 iframe {
    width: 300px;
    height: 100px; }
#banner .s970x250 {
  width: 970px;
  height: 250px; }
  #banner .s970x250 iframe {
    width: 970px;
    height: 250px; }
#banner .s254x133 {
  width: 254px;
  height: 133px; }
  #banner .s254x133 iframe {
    width: 254px;
    height: 133px; }
#banner .s970x90 {
  width: 970px;
  height: 90px; }
  #banner .s970x90 iframe {
    width: 970px;
    height: 90px; }
#banner .s470x246 {
  width: 470px;
  height: 246px; }
  #banner .s470x246 iframe {
    width: 470px;
    height: 246px; }
#banner .s560x292 {
  width: 560px;
  height: 292px; }
  #banner .s560x292 iframe {
    width: 560px;
    height: 292px; }
#banner .s360x50 {
  width: 360px;
  height: 50px; }
  #banner .s360x50 iframe {
    width: 360px;
    height: 50px; }
#banner .s320x480 {
  width: 320px;
  height: 480px; }
  #banner .s320x480 iframe {
    width: 320px;
    height: 480px; }
#banner .s600x90 {
  width: 600px;
  height: 90px; }
  #banner .s600x90 iframe {
    width: 600px;
    height: 90px; }
#banner .s480x80 {
  width: 480px;
  height: 80px; }
  #banner .s480x80 iframe {
    width: 480px;
    height: 80px; }

/*# sourceMappingURL=main.css.map */
