@charset "UTF-8";
@font-face {
  font-family: 'michromaregular';
  src: url("../fonts/michroma-webfont.woff2") format("woff2"), url("../fonts/michroma-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
* {
  animation: .25s all ease; }

body {
  font-family: "michromaregular";
  background: #e3e3e3; }

header .navbar-brand {
  padding: 0 15px; }
header .navbar-default {
  background-color: #4F474F;
  border-color: transparent; }
  header .navbar-default .navbar-nav > .active > a {
    background: transparent;
    color: #e3e3e3;
    transition: .25s all ease; }
    header .navbar-default .navbar-nav > .active > a:hover, header .navbar-default .navbar-nav > .active > a:focus {
      background: #e3e3e3;
      color: #424242;
      border-bottom: 4px solid #424242; }
header .navbar {
  min-height: 50px;
  margin-bottom: 0;
  border: 0;
  border-radius: 0; }
  header .navbar .actualizacion {
    color: #e3e3e3;
    font-size: 9px;
    height: 50px;
    line-height: 80px;
    vertical-align: bottom;
    display: inline-block; }
  header .navbar .navbar-brand {
    color: #e3e3e3;
    text-align: left;
    text-transform: lowercase;
    font-weight: lighter;
    line-height: 70px; }
    header .navbar .navbar-brand:hover {
      color: #849B98; }

.header {
  min-height: calc(300px - 50px);
  width: 100%;
  position: relative;
  overflow: hidden; }
  .header.sublime {
    background: url("../images/header-main.jpg") no-repeat fixed center bottom/cover; }
  .header.plant {
    margin: 0;
    background: url("../images/header-plant.jpg") no-repeat fixed center bottom/cover; }

.opacity {
  position: absolute;
  transition: .25s all ease; }
  .opacity.top-left {
    border-radius: 0 0 0 0;
    width: 0px;
    height: 300px;
    top: 0;
    left: -150px;
    transform: skew(0deg, 0deg);
    transition: 1.50s all ease; }
  .opacity.bottom-right {
    border-radius: 0 0 0 0;
    width: 100%;
    height: 100%;
    left: -100%;
    right: -150px;
    transform: skew(0deg, 0deg);
    transition: 2.25s all ease; }
  .opacity.o-25 {
    background: rgba(53, 43, 43, 0.15); }

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  text-align: left;
  color: #424242;
  font-size: 30px;
  margin: 20px 0;
  text-transform: uppercase; }
  h1 .text-greater-h1,
  h2 .text-greater-h1,
  h3 .text-greater-h1,
  h4 .text-greater-h1,
  h5 .text-greater-h1,
  h6 .text-greater-h1 {
    font-size: 80px;
    line-height: 1;
    color: #4F474F; }
  h1.año,
  h2.año,
  h3.año,
  h4.año,
  h5.año,
  h6.año {
    font-size: 40px;
    line-height: 1;
    color: #292A33; }
  h1.footer,
  h2.footer,
  h3.footer,
  h4.footer,
  h5.footer,
  h6.footer {
    font-size: 14px;
    color: #849B98; }

ul {
  border: 0; }
  ul li.inner-list {
    border: 0;
    list-style: none; }
  ul li a {
    color: #008A9E;
    text-decoration: none;
    transition: .25s all ease;
    display: inline-block; }
    ul li a:hover {
      color: #004751;
      text-decoration: none;
      letter-spacing: 4px; }
  ul li ul li {
    margin: 4px 0; }
    ul li ul li a {
      color: #008A9E;
      text-decoration: none;
      transition: .25s all ease;
      display: inline-block; }
      ul li ul li a:hover {
        color: #004751;
        text-decoration: none;
        letter-spacing: 4px; }

p {
  text-align: justify;
  color: #424242;
  letter-spacing: 1px;
  font-family: "Arial"; }
  p .text-greater {
    font-size: 80px;
    line-height: 1;
    color: #4F474F; }
  p .nickname {
    font-style: italic;
    letter-spacing: 4px; }
  p .tilde {
    font-weight: bolder; }
  p a {
    color: #008A9E;
    text-decoration: none;
    letter-spacing: 1px; }
    p a:hover {
      color: #004751;
      text-decoration: none;
      letter-spacing: 1px; }

img.logo-cerebro {
  max-width: 200px; }

section#main-header {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden; }

section#presentation {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden; }
  section#presentation .header-website {
    margin: 0;
    padding: 0; }
    section#presentation .header-website .jonathan {
      display: block;
      margin: 20px auto 20px; }
  section#presentation .habilidades-container {
    text-align: center; }
    section#presentation .habilidades-container .habilidades-div {
      margin: 20px 0; }
      section#presentation .habilidades-container .habilidades-div i {
        color: #4C4745; }

footer {
  margin: 20px 0 0 0;
  padding: 40px 0;
  background: #4F474F; }
  footer .social-network,
  footer .websites {
    list-style: none;
    padding: 0; }
    footer .social-network li,
    footer .websites li {
      padding: 10px; }
      footer .social-network li a,
      footer .websites li a {
        color: #e3e3e3;
        text-decoration: none; }
        footer .social-network li a:hover, footer .social-network li a:active, footer .social-network li a:focus,
        footer .websites li a:hover,
        footer .websites li a:active,
        footer .websites li a:focus {
          color: #e3e3e3;
          text-decoration: none;
          letter-spacing: 0; }
  footer p {
    color: #e3e3e3; }

/*
 * Visualizador
 */
.img-dummy {
  background: #424242;
  width: 100%;
  min-height: 250px;
  margin-bottom: 10px; }
  .img-dummy.x-xs {
    min-height: 50px;
    width: 50px;
    float: left;
    margin: 0 10px 10px 0; }
  .img-dummy.y-md {
    min-height: 100px; }
  .img-dummy.y-sm {
    min-height: 50px; }

.p-dummy {
  width: 100%;
  margin: 0 0 20px 0;
  display: table; }
  .p-dummy .txt-dummy {
    color: #424242;
    width: 100%;
    height: 6px;
    background: #424242;
    margin: 0 0 10px 0; }
    .p-dummy .txt-dummy.small {
      width: 80%; }

.iframe-300x250 {
  overflow: visible; }
  .iframe-300x250 iframe {
    position: relative;
    z-index: 9;
    top: 0;
    left: 0;
    width: 300px;
    height: 250px;
    margin: 0 auto 10px;
    display: block; }

.iframe-336x280 {
  overflow: visible; }
  .iframe-336x280 iframe {
    position: relative;
    z-index: 9;
    top: 0;
    left: 0;
    width: 336px;
    height: 280px;
    margin: 0 auto 10px;
    display: block; }

.iframe-160x600 {
  overflow: visible; }
  .iframe-160x600 iframe {
    position: relative;
    z-index: 9;
    top: 0;
    left: 0;
    width: 160px;
    height: 600px;
    margin: 0 auto 10px;
    display: block; }

.iframe-120x600 {
  overflow: visible; }
  .iframe-120x600 iframe {
    position: relative;
    z-index: 9;
    top: 0;
    left: 0;
    width: 120px;
    height: 600px;
    margin: 0 auto 10px;
    display: block; }

.iframe-300x600 {
  overflow: visible; }
  .iframe-300x600 iframe {
    position: relative;
    z-index: 9;
    top: 0;
    left: 0;
    width: 300px;
    height: 600px;
    margin: 0 auto 10px;
    display: block; }

.clearfix.divider {
  display: table;
  width: 100%;
  height: 6px;
  background: #849B98;
  margin: 20px auto; }
  .clearfix.divider.double {
    height: 12px; }

.menu {
  list-style: none; }
  .menu li {
    float: right;
    display: inline-block;
    list-style: none;
    margin: 40px 0 0 0; }
    .menu li a {
      text-decoration: none;
      color: #424242;
      text-transform: uppercase; }

.icon-responsive {
  margin: auto;
  text-align: center; }
  .icon-responsive span {
    color: #849B98; }
    .icon-responsive span:hover, .icon-responsive span.active {
      color: #424242;
      cursor: pointer; }

.tablet-bg {
  background: url("../images/ipad-template.png") no-repeat scroll center center/100% 100%;
  width: 937px;
  height: 1107px;
  display: block;
  margin: auto; }
  .tablet-bg iframe {
    z-index: -1;
    position: relative;
    margin: 105px 0 0 75px; }

.mobile-bg {
  background: url("../images/iphone-template.png") no-repeat scroll center center/100% 100%;
  width: 360px;
  height: 650px;
  display: block;
  margin: auto; }
  .mobile-bg iframe {
    z-index: -1;
    position: relative;
    margin: 100px 0 0 18px; }

/*# sourceMappingURL=main.css.map */
