@font-face {
    font-family: 'michromaregular';
    src: url('../fonts/michroma-webfont.woff2') format('woff2'),
         url('../fonts/michroma-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


$color_orange: #EB812D;
$color_blue_light: #008A9E;
$color_blue_light_hover: #004751;
$color_purple: #4F474F;
$color_green_light: #849B98;
$color_white_gray: #e3e3e3;
$color_pink_light: #B55A5A;
$color_gray_dark: #424242;
$color_brown_dark: #352B2B;
