$footer_color: #5d737e;
$header_color: #ff5c5c;
$header_line: #44d9e6;
$h_color: #c0fdfb;
$hover_color: #daffef;
$text_white: #fcfffd;
$text_black: #333;
$blue: #5271ff;
$space_a: #b7d3f2;

/*
 * General CSS
 */
body,
html{
  background: $text_white;
}

@mixin size-banner($w, $h){

  width: $w;
  height: $h;

}
.ad-container{
  margin: auto;
  display: table;
}
iframe.ad.content:empty{
  display: none;
}

.breadcumb{
  padding: 0;
  ul{
    margin: 10px 0;
    list-style: none;
    li{
      display: inline;
      &:after{
        display: inline;
        content: "\f105";
        font-family: "FontAwesome";
        position: relative;
        padding: 0 10px;
        color: $text_black;
      }
      &:last-child{
        &:after{
          content: "";
          padding: 0;
        }
      }
    }
  }
}

.loading{
  display: block;
  margin: 15px auto;
  text-align: center;
}

#i-banner-container{
  margin: auto;
  display: block;
  position: relative;
  .i-overlayer{
    position: absolute;
    z-index: 100;
    cursor: pointer;
    top: 0;
    left: 0;
  }
  #i-banner{

  }
}
.beta.warning{
  background: $text_black;
  padding: 5px 10px;
  color: $text_white;
  font-size: 10px;
  text-align: right;
}

header{
  background-image: url('../images/parallax/angel-de-la-independencia.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-color: #d3d3d3;
  background-blend-mode: multiply;
  color: $text_white;
  padding: 0;
  height: calc(100vh - 60px);
  .container{
    height: 100%;
    .row{
      height: 100%;
      .col-md-12{
        height: 100%;
        .section-header{
          text-align: center;
          position: absolute;
          right: 0;
          margin: 0;
          line-height: 1;
          bottom: 0;
        }
      }
    }
  }

}

.anchor{
  margin: 0;
  display: block;
  background: #222;
  color: $text_white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  &:hover,
  &:active,
  &:focus{
    background: $text_black;
    color: $text_white;
    text-decoration: none;
  }
  &.sitemap{
    background: $header_color;
    .fa-stack{
      .fa-chevron-down{
        color: $header_color;
      }
    }
  }
  &.objetivos{
    background: $blue;
    .fa-stack{
      .fa-chevron-down{
        color: $blue;
      }
    }
  }
  &.parallax{
    position: absolute;
    bottom: 0;
    background: transparent;
    z-index: 3;
    width: 100%;
  }
  .fa-stack{
    overflow: hidden;
    .fa-chevron-down{
      color: $text_black;
    }
  }
}

section{
  margin: 0;
  padding: 10vh 0;
  position: relative;
  min-height: calc(100vh);
  &.casas{
    padding: 20vh 0;
    min-height: auto;
    background: url('../images/parallax/casas-de-colores.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    background-color: $text_black;
    background-blend-mode: color-dodge;
  }
  &.tec{
    padding: 20vh 0;
    min-height: auto;
    background: url('../images/parallax/tec-de-monterrey.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    background-color: $text_white;
    background-blend-mode: hard-light;
  }
  .section-subheader{
    position: relative;
    height: 40px;
    color: $text_black;
    margin: 0 0 40px 0;
    span{
      background: $text_white;
      width: auto;
      padding: 0;
      margin: 0;
      position: relative;
      z-index: 1;
    }
    &:before{
      display: table;
      content: "";
      height: 4px;
      width: 100%;
      position: absolute;
      bottom: -10px;
      color: $header_color;
      background: $header_color
    }
    &.objetivos{
      &:before{
        color: $blue;
        background: $blue;
      }
    }
  }
  p{
    line-height: 1.5;
    text-align: left;
    font-size: 1.5em;
    color: $text_black;
  }
  a.btn{
    background: #333;
    color: #fff;
    -webkit-transition: .25s all ease;
    transition: .25s all ease;
    display: table;
    margin: auto;
    &:hover,
    &:active,
    &:focus{
      background: $header_color;
      color: #fff;
    }
  }
}
table{
  text-align: left;
}
.cert-home{
  display: inline-block;
  margin: 5px;
}
footer{
  background: $footer_color;
  padding: 40px 0;
  ul{
    padding: 0;
    list-style: none;
    display: table;
    margin: auto;
    li{
      margin: 0 15px 0 0;
      display: inline-block;
      a{
        color: #fcfffd;
        text-decoration: none;
        &:hover,
        &:active,
        &:focus{
          color: #daffef;
          text-decoration: none;
        }
      }
    }
  }

}

/*
 * Script Banner Test
 */
#display-area,
#display-area img{
  text-align: center;
  display: block;
  margin: 20px auto;
}
/*
 * Ads section
 */
#ads{
  h2{
    text-align: center;
  }
  img{
    display: block;
    margin: auto;
  }
}
#ads-display{
  #banners{
    margin: 0;
    padding: 10px 0;
    list-style: none;
    font-weight: bold;
    text-transform: uppercase;
    ul{
      font-weight: normal;
      margin: 0;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .banner{
      margin: 40px auto 0;
      .img-container{
        img{
          max-height: 180px;
          margin: auto;
        }
      }
      .box-banner-parallax{
        h6{
          text-align: center;
        }
      }
    }
  }
}
#banner{

  .icon-responsive{
    margin: auto;
    text-align: center;
    span{
      &:hover,
      &.active{
      }
    }
  }
  .iframe-container{
    overflow: visible;
    display: table;
    margin: auto;
    .iframe-banner{
      position: relative;
      z-index: 9;
      top: 0;
      left: 0;
      margin: 0 auto 10px;
      display: block;
    }
  }

  .s120x600{
    @include size-banner(120px, 600px);
    iframe{
      @include size-banner(120px, 600px);
    }
  }
  .s160x600{
    @include size-banner(160px, 600px);
    iframe{
      @include size-banner(160px, 600px);
    }
  }
  .s300x600{
    @include size-banner(300px, 600px);
    iframe{
      @include size-banner(300px, 600px);
    }
  }
  .s300x250{
    @include size-banner(300px, 250px);
    iframe{
      @include size-banner(300px, 250px);
    }
  }
  .s468x60{
    @include size-banner(468px, 60px);
    iframe{
      @include size-banner(468px, 60px);
    }
  }
  .s728x90{
    @include size-banner(728px, 90px);
    iframe{
      @include size-banner(728px, 90px);
    }
  }
  .s300x50{
    @include size-banner(300px, 50px);
    iframe{
      @include size-banner(300px, 50px);
    }
  }
  .s320x50{
    @include size-banner(320px, 50px);
    iframe{
      @include size-banner(320px, 50px);
    }
  }
  .s250x250{
    @include size-banner(250px, 250px);
    iframe{
      @include size-banner(250px, 250px);
    }
  }
  .s200x200{
    @include size-banner(200px, 200px);
    iframe{
      @include size-banner(200px, 200px);
    }
  }
  .s336x280{
    @include size-banner(336px, 280px);
    iframe{
      @include size-banner(336px, 280px);
    }
  }
  .s180x150{
    @include size-banner(180px, 150px);
    iframe{
      @include size-banner(180px, 150px);
    }
  }
  .s320x100{
    @include size-banner(320px, 100px);
    iframe{
      @include size-banner(320px, 100px);
    }
  }
  .s300x100{
    @include size-banner(300px, 100px);
    iframe{
      @include size-banner(300px, 100px);
    }
  }
  .s970x250{
    @include size-banner(970px, 250px);
    iframe{
      @include size-banner(970px, 250px);
    }
  }
  .s254x133{
    @include size-banner(254px, 133px);
    iframe{
      @include size-banner(254px, 133px);
    }
  }
  .s970x90{
    @include size-banner(970px, 90px);
    iframe{
      @include size-banner(970px, 90px);
    }
  }
  .s470x246{
    @include size-banner(470px, 246px);
    iframe{
      @include size-banner(470px, 246px);
    }
  }
  .s560x292{
    @include size-banner(560px, 292px);
    iframe{
      @include size-banner(560px, 292px);
    }
  }
  .s360x50{
    @include size-banner(360px, 50px);
    iframe{
      @include size-banner(360px, 50px);
    }
  }
  .s320x480{
    @include size-banner(320px, 480px);
    iframe{
      @include size-banner(320px, 480px);
    }
  }
  .s600x90{
    @include size-banner(600px, 90px);
    iframe{
      @include size-banner(600px, 90px);
    }
  }
  .s480x80{
    @include size-banner(480px, 80px);
    iframe{
      @include size-banner(480px, 80px);
    }
  }

}
