$footer_color: #5d737e;
$header_color: #64b6ac;
$h_color: #c0fdfb;
$hover_color: #daffef;
$text_white: #fcfffd;
$text_black: #333;

$space_a: #b7d3f2;

/*
 * General CSS
 */
body,
html{
  background: $text_white;
  font-weight: 200;
  letter-spacing: 1px;
}
a[href="#main"]{
  margin: 0;
  display: block;
  background: #333;
  color: #fcfffd;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
}
code, b{
  background: $footer_color;
  color: $hover_color;
}
b{
  padding: 2px 4px;
  font-size: 90%;
  border-radius: 4px;
}
u{
  text-decoration: none;
  position: relative;
  color: $footer_color;
  font-weight: bolder;
}
section{
  &#space-a,
  &#space-b{
    margin: 60px 0;
    background: transparent;
    color: $text_black;
    padding: 60px 0;
    p{
      color: $text_black;
      text-align: center;
      margin: 0;
    }
  }
}



@mixin size-banner($w, $h){

  width: $w;
  height: $h;

}
.ad-container{
  margin: auto;
  display: table;
}
iframe.ad.content:empty{
  display: none;
}

.breadcumb{
  padding: 0;
  ul{
    margin: 10px 0;
    list-style: none;
    li{
      display: inline;
      &:after{
        display: inline;
        content: "\f105";
        font-family: "FontAwesome";
        position: relative;
        padding: 0 10px;
        color: $text_black;
      }
      &:last-child{
        &:after{
          content: "";
          padding: 0;
        }
      }
    }
  }
}

.loading{
  display: block;
  margin: 15px auto;
  text-align: center;
}

#i-banner-container{
  margin: auto;
  display: block;
  position: relative;
  .i-overlayer{
    position: absolute;
    z-index: 100;
    cursor: pointer;
    top: 0;
    left: 0;
  }
  #i-banner{

  }
}
.beta.warning{
  background: $text_black;
  padding: 5px 10px;
  color: $text_white;
  font-size: 10px;
  text-align: right;
}

header{
  background: $header_color;
  color: $text_white;
  padding: 40px 0;
}
section{
  padding: 40px 0;
  a.btn{
    background: $text_black;
    color: $text_white;
    border: 1px solid $text_black;
    padding: 10px 0;
    display: block;
    margin: auto;
    max-width: 160px;
    transition: .25s all ease;
    &:hover,
    &:focus,
    &:active{
      color: $text_black;
      background: $text_white;
      border: 1px solid $text_black;
    }
  }
  p{
    color: $text_black;
    line-height: 1.5;
  }
  h2{
    color: $header_color;
  }
}
table{
  text-align: left;
}
.cert-home{
  display: inline-block;
  margin: 5px;
}
footer{
  background: $footer_color;
  padding: 40px 0;
  ul{
    padding: 0;
    margin: 0;
    list-style: none;
    li{
      margin: 0 15px 0 0;
      display: inline-block;
      a{
        color: #fcfffd;
        text-decoration: none;
        &:hover,
        &:active,
        &:focus{
          color: #daffef;
          text-decoration: none;
        }
      }
    }
  }

}

/*
 * Script Banner Test
 */
#display-area,
#display-area img{
  text-align: center;
  display: block;
  margin: 20px auto;
}
/*
 * Ads section
 */
#ads{
  h2{
    text-align: center;
  }
  img{
    display: block;
    margin: auto;
  }
}
#ads-display{
  #banners{
    margin: 0;
    padding: 10px 0;
    list-style: none;
    font-weight: bold;
    text-transform: uppercase;
    ul{
      font-weight: normal;
      margin: 0;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .banner{
      margin: 40px auto 0;
      .img-container{
        img{
          max-height: 180px;
          margin: auto;
        }
      }
      .box-banner-parallax{
        h6{
          text-align: center;
        }
      }
    }
  }
}
#banner{

  .icon-responsive{
    margin: auto;
    text-align: center;
    span{
      &:hover,
      &.active{
      }
    }
  }
  .iframe-container{
    overflow: visible;
    display: table;
    margin: auto;
    .iframe-banner{
      position: relative;
      z-index: 9;
      top: 0;
      left: 0;
      margin: 0 auto 10px;
      display: block;
    }
  }

  .s120x600{
    @include size-banner(120px, 600px);
    iframe{
      @include size-banner(120px, 600px);
    }
  }
  .s160x600{
    @include size-banner(160px, 600px);
    iframe{
      @include size-banner(160px, 600px);
    }
  }
  .s300x600{
    @include size-banner(300px, 600px);
    iframe{
      @include size-banner(300px, 600px);
    }
  }
  .s300x250{
    @include size-banner(300px, 250px);
    iframe{
      @include size-banner(300px, 250px);
    }
  }
  .s468x60{
    @include size-banner(468px, 60px);
    iframe{
      @include size-banner(468px, 60px);
    }
  }
  .s728x90{
    @include size-banner(728px, 90px);
    iframe{
      @include size-banner(728px, 90px);
    }
  }
  .s300x50{
    @include size-banner(300px, 50px);
    iframe{
      @include size-banner(300px, 50px);
    }
  }
  .s320x50{
    @include size-banner(320px, 50px);
    iframe{
      @include size-banner(320px, 50px);
    }
  }
  .s250x250{
    @include size-banner(250px, 250px);
    iframe{
      @include size-banner(250px, 250px);
    }
  }
  .s200x200{
    @include size-banner(200px, 200px);
    iframe{
      @include size-banner(200px, 200px);
    }
  }
  .s336x280{
    @include size-banner(336px, 280px);
    iframe{
      @include size-banner(336px, 280px);
    }
  }
  .s180x150{
    @include size-banner(180px, 150px);
    iframe{
      @include size-banner(180px, 150px);
    }
  }
  .s320x100{
    @include size-banner(320px, 100px);
    iframe{
      @include size-banner(320px, 100px);
    }
  }
  .s300x100{
    @include size-banner(300px, 100px);
    iframe{
      @include size-banner(300px, 100px);
    }
  }
  .s970x250{
    @include size-banner(970px, 250px);
    iframe{
      @include size-banner(970px, 250px);
    }
  }
  .s254x133{
    @include size-banner(254px, 133px);
    iframe{
      @include size-banner(254px, 133px);
    }
  }
  .s970x90{
    @include size-banner(970px, 90px);
    iframe{
      @include size-banner(970px, 90px);
    }
  }
  .s470x246{
    @include size-banner(470px, 246px);
    iframe{
      @include size-banner(470px, 246px);
    }
  }
  .s560x292{
    @include size-banner(560px, 292px);
    iframe{
      @include size-banner(560px, 292px);
    }
  }
  .s360x50{
    @include size-banner(360px, 50px);
    iframe{
      @include size-banner(360px, 50px);
    }
  }
  .s320x480{
    @include size-banner(320px, 480px);
    iframe{
      @include size-banner(320px, 480px);
    }
  }
  .s600x90{
    @include size-banner(600px, 90px);
    iframe{
      @include size-banner(600px, 90px);
    }
  }
  .s480x80{
    @include size-banner(480px, 80px);
    iframe{
      @include size-banner(480px, 80px);
    }
  }

}
